<h1>This is our team page</h1>
<h5>Our team has four members. They are Jeremy Huey, Mengli Yang, Chris Tighe, and Ijeoma Ogbogu.</h5>
<h3>Chris</h3>
<p>Chris is a Master's student in the Computer Science department at Brandeis University. <br>
    He finished undergraduate studies in Spring 2022 with a BS in Math and Computer Science. <br>
    His role was general guidance and organization in addition to resolving merge conflicts. <br>
</p>
<h3>Jeremy</h3>
<p>Jeremy is a Master's student in the CS department at Brandeis University. <br>
    He did Music Composition and Film Scoring dual major BA at Berklee College of Music. <br>
    His interests are in the application of composition, why language symbols (like musical entities)
mean anything at all/ the symbol->reference issue. <br>
His role was adding a team prompt and helping to work through merge conflicts and team coordination. <br>
</p>
<h3>Ijeoma</h3>
<p>
    Ijeoma is a Master's student in the Computer Science department at Brandeis University. <br>
    She has her BA Anthropology and is also doing math research Brandeis. <br>
</p>
<h3>Mengli</h3>
<p>Mengli is a first year MS4 student.<br>
    She decided to change her career path to tech field because she wants to learn something creativea and intresting. <br>
    Her role was completing her own prompt engineering program and cooprate with other team mates. <br>
</p>